# alias file called by .cshrc
# created:  2006-03-27
# modified: 2024-04-25
# altheim

alias ls '/bin/ls --color=auto'
alias lsa 'ls -alF'
alias h 'history'
alias c 'clear'
alias head 'head -n 20 '
alias u 'cd ..'
alias uu 'cd ..;cd ..'
alias uuu 'cd ..;cd ..;cd ..'
alias uuuu 'cd ..;cd ..;cd ..;cd ..'
alias uuuuu 'cd ..;cd ..;cd ..;cd ..;cd ..'
alias pud  'pushd'
alias pod  'popd'
alias rsrc 'source ~/.cshrc'
alias cdk  'cd ~/workspaces/workspace-krzos/krzos/'
alias cdm  'cd ~/workspaces/workspace-mros/mros/'
alias shut 'sudo shutdown now'
alias rs 'rshell -p /dev/ttyACM0'
alias cdt 'cd ~/workspaces/workspace-tinyfx-i2c-target/tinyfx-i2c-target/'
alias cdb 'cd ~/workspaces/workspace-bme690/bme690-python/examples/'
alias cda 'cd ~/workspaces/workspace-air-quality-logger/'
alias cdk 'cd ~/workspaces/workspace-krzos/krzos/'
alias cds 'cd ~/workspaces/workspace-tinys3-i2c-target/tinys3-i2c-target'

